extends ./_layout

block content
	.container
		h1 Tutorial of vue.js
		.row#app-1
			.col-md-12
				h2 Hello, world.
			.col-md-12
				p {{ message }}
		.row#app-2
			.col-md-12
				h2 Two-way binding
				form.form
					p {{ message }}
					input(v-model="message").form-control
		.row#app-3
			.col-md-12
				h2 Render a list
			.col-md-6
				ul.list-group
					li(v-for="todo in todos").list-group-item {{ todo.text }}
		.row#app-4
			.col-md-12
				h2 Handle user input
			.col-md-12
				form.form
					.panel.panel-default
						.panel-body.
							<p>{{ message }}</p>
							<button v-on:click="reverseMessage" type="button" class="btn btn-default">Reverse message</button>
		.row#app-5
			.col-md-12
				h2 All together
			.col-md-6.
					<input v-model="newTodo" v-on:keyup.enter="addTodo" class="form-control">
			.col-md-6
				ul.list-group
					li(v-for="todo in todos").list-group-item.
						<span>{{ todo.text }}</span>
						<button v-on:click="removeTodo($index)" class="btn btn-danger btn-xs">X</button>
